<h1>List All Users</h1>
<table style="width:40%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listusers.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Remove User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>