<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Hi</h1>
   <p>
     This message is to confirm your reservation for:
     Library <%=@library%> room number <%= @number %> for <%= @date %> and slot <%= @slot %> has been confirmed.
   </p>
   
 </body>
</html>